! terminal colors ----------------------------------------------------------

!xterm*background : #453632
!urxvt*.depth : 32
!urxvt*.background:[95]#1b1b1b
!xterm*foreground : #E3E3E3
!urxvt*foreground : #FFEE93

!Black
!*urxvt*color0:    #1B1B1B
!*urxvt*color8:    #6E6E6E

!Red
!urxvt*color1:     #FF2D1D
!urxvt*color9:     #FE747A

!green
!urxvt*color2:     #9DE05A
!urxvt*color10:    #F4FFAF

!Yellow
!urxvt*color3:     #E8E03E
!urxvt*color11:    #FFEE93

!blue
!urxvt*color4:     #2C5EE1
!urxvt*color12:    #81C8FF

!Magenta
!urxvt*color5:     #C773C4
!urxvt*color13:    #F6C5FF

!Cyan
!urxvt*color6:     #2CD5C7
!urxvt*color14:    #81FFEB

!white
!urxvt*color7:     #E1E1E1
!urxvt*color15:    #FFFFFF

! Xft settings --------------------------------------------------------------
! Terminal Fonts
urxvt.font: xft:DejaVuSansMono:size=12
urxvt*.transparent: true
urxvt*.shading: 1 
! Scroll Bar
urxvt.scrollBar : false

! terminal colors ----------------------------------------------------------

xterm*background : #ffffff
urxvt*.depth : 32
urxvt*.background:#000000
xterm*foreground : #E3E3E3
urxvt*foreground : #E1E1E1

!Black
*urxvt*color0:    #1B1B1B
*urxvt*color8:    #6E6E6E

!Red
urxvt*color1:     #D63846
urxvt*color9:     #FE747A

!green
urxvt*color2:     #9DE05A
urxvt*color10:    #F4FFAF

!Yellow
urxvt*color3:     #E8E03E
urxvt*color11:    #FFEE93

!blue
urxvt*color4:     #45c4ff
urxvt*color12:    #81C8FF

!Magenta
urxvt*color5:     #C773C4
urxvt*color13:    #F6C5FF

!Cyan
urxvt*color6:     #2CD5C7
urxvt*color14:    #81FFEB

!white
urxvt*color7:     #E1E1E1
urxvt*color15:    #FFFFFF
